<app-head></app-head>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                  <p>Explora Nuestra Gama de Bicicletas</p>
                  <h1>Tienda de Bicicletas</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row product-lists">
            <div *ngFor="let producto of productos" class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a (click)="navigateToDetalleProducto(producto)"><img [src]="producto.img" alt=""></a>
                    </div>
                    <h3>{{ producto.nombre }}</h3>
                    <p class="product-price"><span>Por Unidad</span> ${{ producto.precio }} </p>
                    <!-- Modificación aquí: -->
                    <a (click)="addToCart(producto)" class="cart-btn"><i class="fas fa-shopping-cart"></i> Añadir al carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->
