<app-head></app-head>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1>CJBike</h1>
          <p>¡Bienvenido a JCBike: Tu Oasis de Bicicletas de Élite en Medellín!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- featured section -->
<div class="feature-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="featured-text">
          <h2 class="pb-3">CJ<span class="orange-text">Bike</span></h2>
          <div class="row">
            <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
              <div class="list-box d-flex">
                <div class="list-icon">
                  <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="content">
                  <h3>¿Quiénes Somos?</h3>
                  <p>En JCBike, te ofrecemos lo mejor en bicicletas de alta gama, servicio de mecánica de primera, repuestos y accesorios de competición. Eleva tu experiencia ciclista con nosotros.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end featured section -->



<!-- team section -->
<div class="mt-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3>Nuestro <span class="orange-text">Equipo</span></h3>
          <p>En JCBike, nuestro apasionado equipo de mecánicos, servicio al cliente y ventas se dedica a ofrecerte la mejor experiencia en bicicletas de alta gama y accesorios de competición. Estamos aquí para que tu experiencia en JCBike sea excepcional.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-team-item">
          <div class="team-bg team-bg-1"></div>
          <h4>Mantenimiento<span></span></h4>
          <ul class="social-link-team">
            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-item">
          <div class="team-bg team-bg-2"></div>
          <h4>Asesoria Profesional<span></span></h4>
          <ul class="social-link-team">
            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
        <div class="single-team-item">
          <div class="team-bg team-bg-3"></div>
          <h4>Más Productos<span></span></h4>
          <ul class="social-link-team">
            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end team section -->
<div class="row-con-espacio"></div>
<div class="row">
  <div class="col-lg-8 offset-lg-2 text-center">
    <div class="section-title">
      <h3>Opini<span class="orange-text">ones</span></h3>
    </div>
  </div>
</div>

<!-- testimonail-section -->
<div class="testimonail-section mt-80 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center">
        <div class="testimonial-sliders">
          <div class="single-testimonial-slider">
            <div class="client-avater">
              <img src="assets/img/avaters/avatar1.png" alt="">
            </div>
            <div class="client-meta">
              <h3>Saira Hakim <span>Cliente de CJBike</span></h3>
              <p class="testimonial-body">
                " Estoy impresionado con JCBike. Su equipo de ventas es conocedor y amable, y sus mecánicos mantienen mi bicicleta en excelente estado. La calidad de sus servicios es insuperable. ¡Gracias, JCBike, por hacer que mi experiencia sea extraordinaria "
              </p>
              <div class="last-icon">
                <i class="fas fa-quote-right"></i>
              </div>
            </div>
          </div>
          <div class="single-testimonial-slider">
            <div class="client-avater">
              <img src="assets/img/avaters/avatar2.png" alt="">
            </div>
            <div class="client-meta">
              <h3>David Niph <span>Cliente de CJBike</span></h3>
              <p class="testimonial-body">
                " La calidad del mantenimiento que JCBike ofrece es realmente impresionante. Cada vez que llevo mi bicicleta allí, su equipo de mecánicos demuestra un nivel excepcional de habilidad y atención al detalle. Mi bicicleta siempre regresa en perfecto estado de funcionamiento, lo que me brinda una gran confianza en cada paseo. ¡Recomiendo encarecidamente los servicios de mantenimiento de JCBike a todos los ciclistas que buscan un rendimiento óptimo y duradero en sus bicicletas! "
              </p>
              <div class="last-icon">
                <i class="fas fa-quote-right"></i>
              </div>
            </div>
          </div>
          <div class="single-testimonial-slider">
            <div class="client-avater">
              <img src="assets/img/avaters/avatar3.png" alt="">
            </div>
            <div class="client-meta">
              <h3>Jacob Sikim <span>Cliente de CJBike</span></h3>
              <p class="testimonial-body">
                " Los productos y repuestos de JCBike son simplemente excepcionales. Cada vez que necesito actualizar mi equipo o buscar repuestos de alta calidad, sé que puedo confiar en ellos. La durabilidad y el rendimiento de sus productos son insuperables. Además, su variedad de opciones de competición es impresionante. ¡Gracias a JCBike, he mejorado significativamente mi experiencia en el ciclismo y he alcanzado nuevos niveles de rendimiento! "
              </p>
              <div class="last-icon">
                <i class="fas fa-quote-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end testimonail-section -->

<app-footer></app-footer>
