  <app-head></app-head>

	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Rueda con Estilo</p>
							<h1>Descubre tu Próxima Aventura</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Colección</a>
								<a href="contact.html" class="bordered-btn">Contacto</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Descuentos</h3>
							<p> Ofertas exclusivas</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>Atención 24/7</h3>
							<p>Obten soporte todo el dia</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Devoluciones</h3>
							<p>Tienes la posibilidad!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3><span class="orange-text">Nuestros</span> Productos</h3>
						<p>Nuestra amplia gama de productos está diseñada para satisfacer las necesidades de todos los amantes del ciclismo.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a [routerLink]="['/product']"><img src="assets/img/products/bicicleta.webp" alt=""></a>
						</div>
						<h3>Scorpion MTB 29</h3>
						<p class="product-price"><span>Por unidad</span> $992.900 </p>
						<a [routerLink]="['/product']" class="cart-btn"><i class="fas fa-shopping-cart"></i>Ver más</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a [routerLink]="['/product']"><img src="assets/img/products/jersey.webp" alt=""></a>
						</div>
						<h3>Jersey Manga Corta</h3>
						<p class="product-price"><span>Por unidad</span> $152.900 </p>
						<a [routerLink]="['/product']" class="cart-btn"><i class="fas fa-shopping-cart"></i>Ver más</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a [routerLink]="['/product']"><img src="assets/img/products/casco.webp" alt=""></a>
						</div>
						<h3>Casco U1 Negro</h3>
						<p class="product-price"><span>Por unidad</span> $164.600 </p>
						<a [routerLink]="['/product']" class="cart-btn"><i class="fas fa-shopping-cart"></i>Ver más</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- cart banner section -->
    <!-- end cart banner section -->

	<!-- testimonail-section -->
	<!-- end testimonail-section -->

<!-- advertisement section -->
<div class="abt-section mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="video-preview-container">
          <img src="../../assets/img/hqdefault.png" alt="Preview Image" class="video-preview-img" />
          <a href="https://www.youtube.com/watch?v=WTZOavqsjgk" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="abt-text">
          <p class="top-sub">Desde 1999</p>
          <h2>Somos <span class="orange-text">JCBike</span></h2>
          <p>En JCbike, somos apasionados por el ciclismo y creemos en fomentar un estilo de vida activo y saludable a través de la bicicleta.</p>
          <p>Fundada con el propósito de ofrecer productos de calidad y servicio excepcional, nuestra tienda se ha convertido en un destino confiable para ciclistas de todos los niveles.</p>
          <a href="about.html" class="boxed-btn mt-4">Conoce más</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end advertisement section -->


<app-footer></app-footer>
